/* Шестой тип селекторов, обращаемся ко всем элементам*/
/* * {

} */

/* Первый тип селекторов, обращаемся по названию тега */
body {
    background: #eee;
}

/* Второй тип селекторов, обращаемся по названию класса */
.card {
    padding: 10px;
    background: #fff;
    /* margin-bottom: 10px; */
}

/* Четвертый тип селекторов, обращаемся от родительского класса к дочернему тегу, класс, id */

/* .card p {
    font-size: 25px;
} */

/* Ctrl + / - горячая клавиша комментарий */

/* Третий тип селекторов, обращается по id */
#header {
    background: #ddd; 
    padding: 10px;
}

.html {
    background: orange;
    color: white;
}

.css {
    background: blue;
    color: white;
}

/* Пятый тип селекторов, множественные селекторы */
#header, .html, .css {
    margin-bottom: 10px;
}
