/* Первый вариант селектора, обращаетмся по имени тега (Tag Name)*/
body {
    background: #eee;
}

/*Второй вариант селектора, обращаемся по имени класса (Class Name)*/
.card {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}

/* Четвертый вариант селектора, вложенный (обращаемся к родительскому классу "card" и дальше к тегу "p") */
.card p {
    font-size: 16px;
}

.html {
    background: #e54c21;
    color: white;
}

.css {
    background:#2449d8;
    color:white;
}
/* Третий вариант селектора, обращаемся по id (Id) */
#header {
    background: #ddd;
    padding: 10px;
}

/* Пятый вариант селектора, множественный (перечислям через ",") */
#header, .html, .css {
    margin-bottom: 10px;
}

/* Шестой вариант селектора, "*" обращаемся ко всем элементам */
