/* 
font-family - шрифт, 
font-size - размер шрифта,
line-height - ?,
font-weight - начертание текста (аналог свойста strong в html),
letter-spacing - растояние (отступы) между символами,
word-spacing - растояние (отступы) между словами,

 */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    /* font-family: Vedana, Geneva, sans-serif; */
    font-family: 'Roboto', sams-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    /* font: normal 20px 'Roboto', sans-serif; */
    /* 400-normal, 900-bold */
    /* text-decoration: underline; */
    /* font-style:italic; аналог свойста em в html*/
    /* letter-spacing:2px; */
    /* word-spacing: 20px; */

}

.ccs p {
    font-family: Vedana;
    font-size: 40px;
    font-weight: bold;
}

