/* 
font-family - шрифт, 
font-size - размер шрифта,
line-height - высота линии,
font-weight - начертание текста (по умолчанию имеет свойство normal)(аналог свойста strong в html),
text-decoration - декорация текста (подчеркнутый, зачеркнутый и тд)
font-slyle: italic; - аналог тега в html <em></em>
letter-spacing - растояние (отступы) между символами,
word-spacing - растояние (отступы) между словами,
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    /* font-family: Verdana, Geneva, sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    /* font: normal 18px 'Roboto', sans-serif; */
    line-height: 1.6em;
    /* text-decoration: line-through; */
    /* font-style: italic; */
    /* letter-spacing: 2px; */
    /* word-spacing: 20px; */
}

/* .css p {
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
} */

